.trigger {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.options {
  background: var(--dark-bg-redesigned);
  position: absolute;
  z-index: 10000;
  border-radius: 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem var(--dark-bg-redesigned);
  min-width: 100%;
}

.item {
  padding: 0.5rem 1rem;
}
