.Code {
  border: 1px solid var(--primary-color);
  padding: 1.25rem;
  position: relative;
  background: var(--code-bg);
  overflow: auto;
}

.CodeRedesigned {
  padding: 1.25rem;
  position: relative;
  background: var(--light-bg-redesigned);
  overflow: auto;
  border: 1px solid var(--accent-redesigned);
  border-radius: 16px;
}

.copyBtn {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  cursor: pointer;
}

.copyIcon path {
  stroke: var(--primary-color);
}
