.ArticleDetails {
  min-height: 100%;
}

.avatar {
  margin: 0 auto;
}

.title {
  margin-block-start: 1.25rem;
}

.skeleton {
  margin-block-start: 1rem;
}

.articleInfo {
  display: flex;
  align-items: center;
}

.icon {
  margin-inline-end: 0.5rem;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
}

.block {
  margin-block-start: 1rem;
}
