.item {
  display: flex;
  align-items: center;
}

.link {
  margin-inline-start: 0.75rem;
  opacity: 1;
}

.icon {
  fill: var(--inverted-primary-color);
}

.collapsed {
  .link {
    opacity: 0;
    transition: opacity 0.2s;
    width: 0;
  }
}

.itemRedesigned {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}

.collapsedRedesigned {
  padding: 0 0.5rem;

  .link {
    opacity: 0;
    margin-inline-start: 0;
    width: 0;
  }
}

.active {
  background: linear-gradient(89.97deg, rgb(94 211 243 / 30%) 1.15%, rgb(94 211 243 / 0%) 99.97%);
  position: relative;
  border-left: 2px solid var(--accent-redesigned);
  height: 100%;
}
