.BIG {
  .card {
    margin-block-end: 2rem;
  }
}

.SMALL {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  .card {
    display: inline-flex;
    height: 18.75rem;
  }

  .row {
    display: flex;
    gap: 2rem;
  }
}
