.BIG {
  .views {
    margin-inline-start: auto;
  }

  .header {
    display: flex;
    align-items: center;
  }

  .username {
    margin-inline-start: 0.5rem;
  }

  .date {
    margin-inline-start: auto;
  }

  .title {
    margin-block-start: 0.5rem;
  }

  .img {
    width: 100%;
    max-height: 15.5rem;
    object-fit: cover;
    margin: 1rem 0;
  }

  .footer {
    display: flex;
    align-items: center;
    margin-block-start: 1rem;
  }

  .textBlock {
    max-height: 12.5rem;
    overflow: hidden;
  }
}

.SMALL {
  width: 14.5rem;
  transition: 0.2s;
  cursor: pointer;

  .date {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
  }

  &:hover {
    opacity: 0.8;
    transform: scale(1.01);

    .date {
      display: block;
    }
  }

  .imageWrapper {
    width: 12.5rem;
    height: 12.5rem;
    position: relative;
  }

  .img {
    width: 12.5rem;
    height: 12.5rem;
    object-fit: cover;
  }

  .infoWrapper {
    display: flex;
    align-items: center;
    margin-block-start: 0.5rem;
  }

  .types p {
    width: 7.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .views {
    margin-inline-start: auto;
    margin-inline-end: 0.5rem;
  }

  .title p {
    margin-block-start: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ArticleListItemRedesigned {
  &.BIG {
    width: 100%;
  }

  &.SMALL {
    width: 240px;
    height: 350px;
  }
}
