.RedesignedSidebar {
  position: relative;
  background: var(--light-bg-redesigned);
  width: 13.75rem;
  height: 100%;
  border-radius: 2rem;
}

.appLogo {
  padding-top: 1.25rem;
}

.items {
  margin-block-start: 2.5rem;
}

.collapseBtn {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 10;
  transform: rotate(90deg);
}

.switchers {
  position: absolute;
  bottom: 1.5rem;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.collapsedRedesigned {
  width: 50px;

  .switchers {
    flex-direction: column;
    align-items: center;
  }

  .items {
    display: flex;
    align-items: center;
  }

  .collapseBtn {
    transform: rotate(-90deg);
  }

  .lang {
    margin-inline-start: 0;
  }
}
