.BIG {
  .img {
    width: 100%;
    height: 420px;
    object-fit: cover;
  }

  .textBlock {
    height: 72px;
    overflow: hidden;
  }
}

.SMALL {
  width: 14.5rem;
  transition: 0.2s;
  cursor: pointer;

  .date {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
  }

  &:hover {
    opacity: 0.8;
    transform: scale(1.01);

    .date {
      display: block;
    }
  }

  .imageWrapper {
    width: 12.5rem;
    height: 12.5rem;
    position: relative;
  }

  .img {
    width: 12.5rem;
    height: 12.5rem;
    object-fit: cover;
  }

  .infoWrapper {
    display: flex;
    align-items: center;
    margin-block-start: 0.5rem;
  }

  .types p {
    width: 7.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .views {
    margin-inline-start: auto;
    margin-inline-end: 0.5rem;
  }

  .title p {
    margin-block-start: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
