.menu {
  display: flex;
  flex-direction: column;
  background: var(--dark-bg-redesigned);
  position: absolute;
  z-index: 10000;
}

.item {
  padding: 0.5rem 1.5rem;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: var(--text-redesigned);
  cursor: pointer;

  &:hover {
    background: var(--light-bg-redesigned);
  }
}
