.MainLayout {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "sidebar content rightbar";
  grid-template-columns: 17.75rem 1fr 11rem;
}

.sidebar {
 grid-area: sidebar;
 justify-self: center;
 padding: 2rem;
}

.content {
 grid-area: content;
 max-width: 75rem;
 justify-self: center;
 padding: 2rem;
}

.rightbar {
 grid-area: rightbar;
 display: flex;
 flex-direction: column;
 align-items: flex-end;
}

.rightbar, .sidebar {
 position: sticky;
 top: 0;
 height: 100vh;
}

.toolbar {
 height: 100%;
}