.Button {
  cursor: pointer;
  color: var(--text-redesigned);
  padding: 0.5rem 1rem;

  &:hover {
    color: var(--accent-redesigned);
  }
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.square {
  padding: 0;
}

.square.m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.m {
  font-size: var(--font-size-m-redesigned);
}

.l {
  font-size: var(--font-size-l-redesigned);
}

.xl {
  font-size: var(--font-size-xl-redesigned);
}

.disabled {
  opacity: 0.5;
  cursor: default;
}

.fullWidth {
  width: 100%;
}
