.addonLeft svg,
.addonRight svg {
  color: var(--hint-redesigned);
}

.Button {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--text-redesigned);
  padding: 6px 16px;

  &:hover {
    color: var(--accent-redesigned);

    .addonLeft svg,
    .addonRight svg {
      color: var(--accent-redesigned);
    }
  }
}

.withAddon {
  padding: 0 1rem;
}

.addonLeft,
.addonRight {
  display: flex;
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.filled {
  background: var(--light-bg-redesigned);
  border: none;
  outline: none;
  border-radius: 2rem;
}

.outline {
  background: none;
  border: 2px solid var(--icon-redesigned);
  border-radius: 34px;

  &.normal {
    border: 2px solid var(--accent-redesigned);
  }

  &.error {
    border: 2px solid var(--cancel-redesigned);
  }

  &.success {
    border: 2px solid var(--save-redesigned);
  }
}

.square {
  padding: 0;
}

.square.m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.m {
  font-size: var(--font-size-m-redesigned);
}

.l {
  font-size: var(--font-size-l-redesigned);
}

.xl {
  font-size: var(--font-size-xl-redesigned);
}

.disabled {
  opacity: 0.5;
  cursor: default;
}

.fullWidth {
  width: 100%;
}
