.ProfileCard {
  padding: 2.5rem;
  border: 2px solid var(--inverted-bg-color);
}

.input {
  margin-top: 1rem;
}

.loading,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 19rem;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.editing {
  border: 2px solid var(--inverted-primary-color);
}
