.ProfileCard {
  padding: 2.5rem;
  border: 2px solid var(--inverted-bg-color);
}

.header {
  display: flex;
}

.editBtn {
  margin-left: auto;
}

.data {
  margin-top: 4rem;
}

.input {
  margin-top: 1rem;
}
