.CommentCard {
  padding: 0.5rem;
  border: 1px solid var(--primary-color);
}

.header {
  display: flex;
  align-items: center;
}

.username {
  margin-inline-start: 0.5rem;
}

.loading {
  border: none;
}
