.InputWrapper {
  display: flex;
  align-items: center;
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  border: 2px solid var(--icon-redesigned);
  height: 2.5rem;
  width: 100%;
}

.s {
  height: 2rem;
}

.m  {
  height: 2.5rem;
}

.l {
  height: 3rem;
}

.addonLeft, .addonRight {
  display: flex;
}

.withAddon {
  padding-left: 0.5rem;
}

.withAddonRight {
  padding-right: 0.5rem;
}

.focused {
  border: 2px solid var(--accent-redesigned);

  .addonLeft svg, .addonRight svg {
    color: var(--accent-redesigned);
  }
}

.input {
  border: none;
  outline: none;
  width: 100%;
  color: var(--text-redesigned);
  background: none;

  &::placeholder {
   color: var(--hint-redesigned);
  }
}

.readonly {
  opacity: 0.7;
}
