/* stylelint-disable-next-line no-rules-configured */
.StickyContentLayout {
  display: grid;
  grid-template-areas: "left content right";
  grid-template-columns: min-content 1fr min-content;
  gap: 1rem;
}

.left {
  grid-area: left;
}

.content {
  grid-area: content;
  max-width: 75rem;
  justify-self: center;
  width: 100%;
}

.right {
  grid-area: right;
}

.left,
.right {
  position: sticky;
  top: 2rem;
  height: fit-content;
}
